<!DOCTYPE html>
<html>
<head>

  <script id="vertex-shader" type="x-shader/x-vertex">

attribute vec4 vPosition;

uniform mat4 modelViewMatrix;
uniform mat4 projectionMatrix;

void
main()
{
  gl_Position = projectionMatrix*modelViewMatrix*vPosition;
}
  </script>

  <script id="fragment-shader" type="x-shader/x-fragment">

precision mediump float;

uniform vec4 color;

void
main()
{
  gl_FragColor = color;
}
  </script>

  <script type="text/javascript" src="../../Common/webgl-utils.js"></script>
  <script type="text/javascript" src="../../Common/initShaders.js"></script>
  <script type="text/javascript" src="../../Common/MV.js"></script>
  <script type="text/javascript" src="../../lib/angular.min.js"></script>
  <script type="text/javascript" src="../../lib/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="shape.js"></script>
  <script type="text/javascript" src="sphere.js"></script>
  <script type="text/javascript" src="cube.js"></script>
  <script type="text/javascript" src="cone.js"></script>
  <script type="text/javascript" src="diagram.js"></script>
  <script type="text/javascript" src="renderer.js"></script>
  <script type="text/javascript" src="controller.js"></script>
  <style>
canvas {
border: solid black 1px;
}
  </style>
  <title>Simple Cad</title>
</head>
<body ng-app='simpleCad'>

  <div ng-controller='SimpleCadController'>
    <canvas id="gl-canvas" width="512" height="512">
      Oops ... your browser doesn't support the HTML5 canvas element
    </canvas>

    <div class='controls'>
      <h1>Simple Cad</h1>
      <label>
      Add 
      <select ng-options='shapeName for shapeName in availableShapeNames' ng-model='newShape' ng-change='addShape()'></select>
      </label>
      <label>
      Edit 
      <select ng-options='renderedShape for renderedShape in renderedShapes' ng-model='currentShape' ng-change='editShape()'></select>
      </label>
      <div ng-repeat='slider in sliders'>
        <range-selector range='slider' />
      </div>
      <div ng-repeat='picker in colorPickers'>
        <input type='color' ng-model='picker.value' />
      </div>
    </div>
  </div>
</body>
</html>
