<!DOCTYPE html>
<html>
<head>

  <script id="vertex-shader" type="x-shader/x-vertex">

attribute vec4 vPosition;

uniform mat4 affineMatrix;

void
main()
{
  gl_Position = affineMatrix * vPosition;
}
  </script>

  <script id="fragment-shader" type="x-shader/x-fragment">

precision mediump float;

uniform vec4 color;

void
main()
{
  gl_FragColor = color;
}
  </script>

  <script type="text/javascript" src="../../Common/webgl-utils.js"></script>
  <script type="text/javascript" src="../../Common/initShaders.js"></script>
  <script type="text/javascript" src="../../Common/MV.js"></script>
  <script type="text/javascript" src="../../lib/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="../../lib/jquery-ui.min.js"></script>
  <script type="text/javascript" src="../../lib/angular.min.js"></script>
  <script type="text/javascript" src="../../lib/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="../../lib/math.min.js"></script>
  <script type="text/javascript" src="color.js"></script>
  <script type="text/javascript" src="shape.js"></script>
  <script type="text/javascript" src="sphere.js"></script>
  <script type="text/javascript" src="cube.js"></script>
  <script type="text/javascript" src="cone.js"></script>
  <script type="text/javascript" src="cylinder.js"></script>
  <script type="text/javascript" src="diagram.js"></script>
  <script type="text/javascript" src="renderer.js"></script>
  <script type="text/javascript" src="controller.js"></script>
  <link rel='stylesheet' href='style.css' />
  <title>Simple Cad</title>
</head>
<body ng-app='simpleCad'>

  <div ng-controller='SimpleCadController'>
    <canvas id="gl-canvas" width="512" height="512">
      Oops ... your browser doesn't support the HTML5 canvas element
    </canvas>
    <canvas id="labels-canvas" width="512" height="512">
      Oops ... your browser doesn't support the HTML5 canvas element
    </canvas>
    <div class='diagram controls'>
      <h1>Diagram</h1>
      <div class='control'>
        <label>
          Background
          <input type='color' ng-model='diagram.color.colorString' ng-change='render()' />
        </label>
      </div>
      <div class='control'>
        <label>
          Render Labels 
          <input type='checkbox' ng-model='diagram.renderNames' ng-change='render()' />
        </label>
      </div>
      <div class='control'>
        <label>
          Add 
          <select ng-options='shapeName for shapeName in availableShapeNames' ng-model='newShape' ng-change='addShape()'></select>
        </label>
      </div>
      <div class='control'>
        <label>
          Edit 
          <select ng-options='diagram.shapes[renderedShape].name for renderedShape in renderedShapes' ng-model='currentShape' ng-change='editShape()'></select>
        </label>
      </div>
    </div>
    <div class='shape controls'>
      <h1>Shape</h1>
      <div class='control'>
        <label>
          Name: 
          <input type='text' ng-model='diagram.shapes[currentShape].name' />
        </label>
      </div>
      <div ng-repeat='slider in sliders'>
        <range-selector range='slider' />
      </div>
      <div class='control' ng-repeat='picker in colorPickers'>
        <label>
          {{picker.label}}
          <input type='checkbox' ng-model='picker.render' />
          <input type='color' ng-model='picker.value' ng-show='picker.render' />
        </label>
      </div>
    </div>
  </div>
</body>
</html>
