<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
  <title>Twisted Tessellation</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script type="text/javascript" src="../Common/webgl-utils.js"></script>
  <script type="text/javascript" src="../Common/initShaders2.js"></script>
  <script type="text/javascript" src="../Common/MV.js"></script>
  <script type="text/javascript" src="../lib/angular.min.js"></script>
  <script type="text/javascript" src="../lib/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="tessellator.js"></script>
  <script type="text/javascript" src="renderer.js"></script>
  <script type="text/javascript" src="controller.js"></script>
</head>   

<body ng-app='twistedTessellation'>

  <canvas id="gl-canvas">
    Oops ... your browser doesn't support the HTML5 canvas element
  </canvas>

  <div ng-controller='TwistedTessellationController'>

    <div id='controls'>
      <h1>Twisted Tessellation</h1>
      <div ng-repeat='readout in readouts'>
        <readout datum='readout' />
      </div>

      <div class='control'>
        <label>
          <input type='checkbox' ng-model='checkboxes.makeStar.value' />
          Make Star
        </label>
      </div>

      <div ng-repeat='slider in sliders'>
        <range-selector range='slider' />
      </div>

    </div>
  </div>

</body>
</html>
