<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="../../Common/webgl-utils.js"></script>
  <script type="text/javascript" src="../../Common/initShaders2.js"></script>
  <script type="text/javascript" src="../../Common/MV.js"></script>
  <script type="text/javascript" src="../../lib/es5-shim.min.js"></script>
  <script type="text/javascript" src="../../lib/es6-shim.min.js"></script>
  <script type="text/javascript" src="../../lib/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="../../lib/jquery-ui.min.js"></script>
  <script type="text/javascript" src="../../lib/angular.min.js"></script>
  <script type="text/javascript" src="../../lib/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="../../lib/math.min.js"></script>
  <script type="text/javascript" src="../../lib/FileSaver.js"></script>
  <!--
  <script type="text/javascript" src="../../lib/spectrum.js"></script>
  -->
  <script type="text/javascript" src="positionable.js"></script>
  <script type="text/javascript" src="color.js"></script>
  <script type="text/javascript" src="light.js"></script>
  <script type="text/javascript" src="shape.js"></script>
  <script type="text/javascript" src="sphere.js"></script>
  <script type="text/javascript" src="cube.js"></script>
  <script type="text/javascript" src="cone.js"></script>
  <script type="text/javascript" src="cylinder.js"></script>
  <script type="text/javascript" src="diagram.js"></script>
  <script type="text/javascript" src="renderer.js"></script>
  <script type="text/javascript" src="controller.js"></script>
  <link rel='stylesheet' href='style.css' />
  <title>Luminous Cad</title>
</head>
<body ng-app='simpleCad'>

  <div ng-controller='SimpleCadController'>
    <canvas id="gl-canvas" width="512" height="512">
      Oops ... your browser doesn't support the HTML5 canvas element
    </canvas>
    <canvas id="labels-canvas" width="512" height="512">
      Oops ... your browser doesn't support the HTML5 canvas element
    </canvas>

    <div class='diagram controls'>
      <h1>Diagram</h1>
      <div class='control'>
        <label>
          Load Demo
          <button ng-click='loadDemo()'>Illuminated Primitives</button>
        </label>
      </div>
      <div class='control'>
        <label>
          Background
          <input type='color' ng-model='diagram.color.colorString' />
        </label>
      </div>
      <div class='control'>
        <label>
          Render Labels 
          <input type='checkbox' ng-model='diagram.renderNames' />
        </label>
      </div>
      <div class='control'>
        <label>
          Add Shape
          <select ng-options='shapeName for shapeName in availableShapeNames' ng-model='newShape' ng-change='addShape()'></select>
        </label>
      </div>
      <div class='control'>
        <label>
          Edit Shape
          <select ng-options='diagram.shapes[renderedShape].name for renderedShape in renderedShapes' ng-model='currentShape' ng-change='editShape()'></select>
        </label>
      </div>
      <div class='control'>
        <label>
          <button ng-click='addLight()'>Add Light</button>
        </label>
      </div>
      <div class='control'>
        <label>
          Edit Light
          <select ng-options='diagram.lights[renderedLight].name for renderedLight in renderedLights' ng-model='currentLight' ng-change='editLight()'></select>
        </label>
      </div>
      <div class='control'>
        <label>
          <button ng-click='exportJSON()'>Export</button>
        </label>
      </div>
      <div class='control'>
        <label>
          Import
          <input id='import' type='file' onchange='angular.element(this).scope().importJSON()'/>
        </label>
      </div>
    </div>

    <div class='shape controls'>
      <h1>Shape</h1>
      <div class='control'>
        <label>
          Name: 
          <input type='text' ng-model='diagram.shapes[currentShape].name' />
        </label>
      </div>
      <div ng-repeat='slider in shapeSliders'>
        <range-selector range='slider' />
      </div>
      <div class='control' ng-repeat='picker in shapeColorPickers'>
        <label>
          {{picker.label}}
          <input type='checkbox' ng-model='picker.render' />
          <input type='color' ng-model='picker.value' ng-show='picker.render' />
        </label>
      </div>
      <div class='control'>
        <label>
          <button ng-click='removeShape()'>Delete</button>
        </label>
      </div>
    </div>

    <div class='light controls'>
      <h1>Light</h1>
      <div class='control'>
        <label>
          Name: 
          <input type='text' ng-model='diagram.lights[currentLight].name' />
        </label>
      </div>
      <div ng-repeat='slider in lightSliders'>
        <range-selector range='slider' />
      </div>
      <div class='control' ng-repeat='picker in lightColorPickers'>
        <label>
          {{picker.label}}
          <input type='checkbox' ng-model='picker.render' />
          <input type='color' ng-model='picker.value' ng-show='picker.render' />
        </label>
      </div>
      <div class='control'>
        <label>
          <button ng-click='removeLight()'>Delete</button>
        </label>
      </div>
    </div>

  </div>
</body>
</html>
